:root {
    --primary-color: #ededed;
    --secondary-color: #1185c4;
    --tertiary-color: #39a6b2;
  }
  
/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}
/* Header */
header{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 5px;
    background-color: var(--secondary-color);
    color: #ffffff;
}
header h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}  

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px 15px;
    font-size: 1.5vw;
}
  
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 5px;
}
/* Header End*/

/* Hero */
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero img{
    max-height:200px;
    max-width: 150px;
    margin: 35px auto auto 0;
    border-radius: 30px;
}
.hero p {
    font-weight: bold;
    width: 35%;
    text-align: right;
    margin: 5%;
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.2;
}
.section-title {
    font-size: 40px;
    border-right: 5px solid;
    color: var(--secondary-color);
    padding-right: 26px;
    padding-top: 10px;
    text-align: right;
    /* margin: 0 auto 35px auto; */
    width: 30%;
    /* flex: 1 30%; */
}
.me{
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.me-text{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
}

.me-text p{
    color: var(--secondary-color);
    font-size: 16px;
}
.work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work a{
    width: 40%;
    width: 300px;
    margin: 50px auto;
}
.work a img{
  margin:0;
  padding-bottom: 50px;
  width: 40%;
  width: 300px;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */
  /* justify-content: space-between; */
/*    width: 300px; */
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
.bottom-right{
    position: relative;
    bottom: 70px;
    right: -200px;
    color: var(--secondary-color);
}


/* MEDIA QUERY for smaller desktop and smaller*/
@media screen and (max-width: 980px) {

    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 18px;
    }

    .hero div p{
        width:70%;
        text-align: center;
    }
    .section-title {
        padding-right: 0;
        width: 100%;
        border-right: none;
        text-align: center;
    }
    .me-text p{
        width:100%;
        text-align:center;
    }
  }
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .hero div p{
        width:90%;
    }
    .me {
        flex: 1 100%;
        text-align: center;
    }

    .me-text {
        flex: 2 100%;
        text-align: center;
        justify-content: center; 
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }
    .hero div p{
        width:100%;
    }
}

